<header class="header">
    <div class="logo-container">
        <a routerLink="/home">
            <img class="logo" src="assets/images/logo.png" alt="Logo">
        </a>
        <nav class="nav-menu">
            <ul>
                <li><a routerLink="/home" class="nav-link">HOME</a></li>
                <li><a routerLink="/filmes" class="nav-link">FILMES</a></li>
                <li><a routerLink="/categoria" class="nav-link">CATEGORIA</a></li>
                <li *ngIf="usuarioLogado?.tipo === 'admin'">
                    <a routerLink="/admin/form-filme" class="nav-link">DASHBOARD</a>
                </li>
                <li><a routerLink="/sobre" class="nav-link">SOBRE</a></li>
            </ul>
        </nav>
    </div>
    <div class="header-icons">
        <div class="search-container" *ngIf="usuarioLogado">
            <input type="text" class="search-input" placeholder="Pesquisar...">
            <span class="material-symbols-outlined search-icon">search</span>
        </div>
        <div *ngIf="!usuarioLogado">
            <button class="user-button" (click)="irParaLogin()">
                <span class="material-symbols-outlined user-icon">person</span>
            </button>
        </div>
        <div class="user-status" *ngIf="usuarioLogado">
            <span *ngIf="usuarioLogado.tipo === 'admin'" class="admin-text">
                {{ usuarioLogado.email }}
            </span>
            <span *ngIf="usuarioLogado.tipo === 'usuario'" class="user-text">
                {{ usuarioLogado.nome }}
            </span>
            <button class="logout-button" (click)="logout()">Sair</button>
        </div>
    </div>
</header>