.sobre-container {
  max-width: 900px;
  margin: 60px auto;
  padding: 20px;
  color: #f2f2f2;
  background-color: #0e1420;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

h1 {
  text-align: center;
  color: #ffe100;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
  color: #ccc;
  font-size: 16px;
}

.info {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  background: #081f55;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 200px;
}

.card h3 {
  color: #ff4d6d;
  font-size: 24px;
  margin-bottom: 5px;
}

.card p {
  color: #ccc;
  font-size: 14px;
}
