/* Reset global */
* {
  background: none;
}

/* Header */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  font-family: "Work Sans", sans-serif;
  background-color: #0b1741;
  
}

/* Logo e menu */
.logo-container {
  display: flex;
  align-items: center;
  gap: 50px;
  color: #ffe100;
}

.logo {
  width: 120px;
  height: auto;
}

.nav-menu ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #ffe100;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ffffff;
}

/* Container de ícones (barra de pesquisa + usuário) */
.header-icons {
  display: flex;
  align-items: center;
  gap: 40px;
}

/* Barra de pesquisa */
.search-container {
  position: relative;
  display: inline-block; /* para ajustar largura do container ao input */
}

.search-input {
  width: 350px;
  height: 36px;
  padding: 0 40px 0 10px; /* espaço direito suficiente para o ícone */
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: #ffffff;
  color: #0b1741;
}

.search-input::placeholder {
  color: #888888;
}

.search-icon {
  position: absolute;
  right: 10px;           
  top: 50%;              
  transform: translateY(-50%);
  pointer-events: none;  
  font-size: 20px;
  color: #888888;        
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Botão circular do usuário */
.user-button {
  width: 40px;
  height: 40px;
  border-radius: 17px;
  border: none;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.user-button:hover {
  transform: scale(1.1);
}

.user-icon {
  font-size: 20px;
  color: #0b1741;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}


.search-icon, .user-icon {
  font-size: 25px;
  color: #0b1741;
  cursor: pointer;
}
