<div class="login">
    <div class="login-child"></div>
  
    <div class="form-login">
      <img class="logo-icon" src="assets/logo.png" alt="Logo Cineflix">
  
      <form>
        <div class="input-group">
          <label for="email" class="senha">Entre com seu e-mail</label>
          <input id="email" type="email" placeholder="EMAIL" class="inputnormal" required>
        </div>
  
        <div class="input-group">
          <label for="senha" class="senha">Senha</label>
          <input id="senha" type="password" placeholder="SENHA" class="inputnormal" required>
        </div>
  
        <button type="submit" class="buttonsprimarynormal">
          <b class="button">Entrar</b>
        </button>
  
        <a href="#" class="cadastre-se">Cadastre-se</a>
      </form>
    </div>
  </div>
  