* {
  background: none;
  font-family: "Work Sans", sans-serif;
}

.admin-container {
  display: flex;
  min-height: 100vh;
  background-color: #0b0f34;
  color: #f5f6f7;
}

.sidebar {
  width: 220px;
  background-color: #0b1741;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin-bottom: 15px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #c8c9cb;
  font-weight: 600;
  display: block;
  padding: 10px 12px;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar nav ul li a.active,
.sidebar nav ul li a:hover {
  background-color: #ffe100;
  color: #000;
}

.main-content {
  flex: 1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-table h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.btn-cadastrar {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #ffe100;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-cadastrar:hover {
  background-color: #bea902;
}

.tabela-filmes {
  width: 100%;
  border-collapse: collapse;
  background-color: #0b1741;
  border-radius: 10px;
  overflow: hidden;
}

.tabela-filmes th,
.tabela-filmes td {
  padding: 12px 15px;
  text-align: left;
}

.tabela-filmes thead {
  background-color: #31343e;
}

.tabela-filmes th {
  font-weight: 600;
  color: #f5f6f7;
}

.tabela-filmes tbody tr {
  border-bottom: 1px solid #31343e;
}

.tabela-filmes tbody tr:hover {
  background-color: #1a1f5b;
}

.acoes button {
  margin-right: 8px;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.acoes {
  display: flex;
  gap: 0px;
}

.btn-editar,
.btn-excluir {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s;
}

.acoes button:hover {
  transform: scale(1.05);
}

.btn-editar {
  background-color: #3cb371;
  color: #fff;
}

.btn-editar:hover {
  background-color: #2e8b57;
}

.btn-excluir {
  background-color: #ff4d4d;
  color: #fff;
}

.btn-excluir:hover {
  background-color: #e60000;
}

@media (max-width: 768px) {
  .admin-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
  }

  .main-content {
    padding: 20px;
  }

  .header-table h2 {
    font-size: 24px;
  }
}
