<router-outlet>
<app-header></app-header>
<app-footer></app-footer>

</router-outlet>
 <!--<main class="main-container">
    <div class="login-container">
      <div class="logo">cineflix</div>
      <h2>Entre com seu e-mail</h2>
      <form>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Senha" required>
        <button class="btn-login" type="submit">ENTRAR</button>
      </form>
      <div class="register-link">
        <a href="#">Cadastrar-se</a>
      </div>
    </div>
  </main> -->

