* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgb(0, 5, 46);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.main-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}


.login-container {
  background-color: rgb(9, 20, 70);
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  text-align: center;
}


.logo {
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}


.login-container h2 {
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
}


input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: rgb(51, 51, 51);
  color: white;
}

input::placeholder {
  color: rgb(180, 180, 180);
}


.btn-login {
  background-color: rgb(255, 215, 0);
  color: black;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-login:hover {
  background-color: rgb(240, 200, 0);
}


.register-link {
  margin-top: 15px;
  font-size: 14px;
}

.register-link a {
  color: rgb(255, 215, 0);
  text-decoration: none;
}
