* {
  background: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo-sessao {
  font-family: "Work Sans", sans-serif;
  color: #f9f9f9;
  text-align: center;
  padding: 20px 0 50px 0;
  font-size: 30px;
  margin-top: 70px;
}

.search-container {
  position: relative;
  display: block;
  width: 60%;
  margin: 20px auto 60px !important;
  z-index: 20;
}

.search-input {
  width: 100%;
  height: 36px;
  padding: 0 40px 0 15px;
  border-radius: 15px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #ffffff;
  color: #0b1741;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.search-input::placeholder {
  color: #888888;
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 20px;
  color: #888888;
  cursor: pointer;
}

.search-input:focus {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  min-height: 60vh;
    width: 80%;

}

.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  height: 300px;
  width: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.4s ease;
  position: absolute;
}

.card:hover {
  transform: scale(1.1);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

.filmes-layout {
  display: flex;
  width: 100%;
  min-height: 80vh;
    margin-top: 20px;
}

.sidebar-filtro {
  width: 20%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  margin-left: 70px;
  margin-top: 20px;
  height: fit-content;
  color: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.051);
}

.sidebar-filtro h3 {
  text-align: left;
  margin-bottom: 15px;
  color: #ffe100;
  font-size: 18px;
  letter-spacing: 1px;
}

.generos-lista {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.genero-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #0b1741;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #23336b;
  transition: 0.25s ease-in-out;
  font-size: 14px;
  color: #f9f9f9;
}

.genero-item:hover {
  background: #17265e;
  transform: scale(1.03);
  box-shadow: 0 0 8px rgba(0, 140, 255, 0.4);
}

.genero-item input {
  accent-color: #ffe100; 
  transform: scale(1.2);
  cursor: pointer;
}
