* {
  background: none;
}

.titulo-sessao {
  font-family: "Work Sans", sans-serif;
  color: #f9f9f9;
  text-align: center;
  padding: 20px 0 20px 0;
  font-size: 30px;
  margin-top: 70px;
}
.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  height: 300px;
  width: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.4s ease;
  position: absolute;
}

.card:hover {
  transform: scale(1.1);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

.card h3 {
  margin: 10px 0 5px;
  font-size: 18px;
  text-align: center;
}

.card p {
  font-size: 14px;
  text-align: center;
  color: #555;
}
