* {
  background: none;
}
.banner-section {
  width: 100%;
}

.hero {
  position: relative;
  width: 100%;
  height: 980px;
  font-family: "Work Sans", sans-serif;
  color: #f9f9f9;
}

/* Imagem de fundo */
.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to top,
      #0b1741 0%,
      rgba(11, 23, 65, 0) 200px
    ),
    url("/assets/images/banner.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.titulo-banner {
  width: 319px; 
  height: auto;
  object-fit: contain;
}

/* Gradiente inferior */
.hero-image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px; /* altura do degradê */
  background: linear-gradient(to top, #0b0f34 0%, transparent 100%);
  z-index: 2;
}

/* Conteúdo sobre a imagem */
.information {
  position: absolute;
  bottom: 50px;
  left: 80px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  z-index: 3; /* fica acima do gradiente */
}

/* Descrição do filme */
.film-info {
  width: 719px;
  line-height: 1.5;
  font-size: 20px;
}

/* Botão "VER MAIS" */
.button-info {
  height: 48px;
  border-radius: 4px;
  background-color: rgba(255, 225, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.button-info:hover {
  transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 1024px) {
  .hero {
    height: 700px;
  }
  .la-pelcula-de {
    width: 500px;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 500px;
  }
  .information {
    bottom: 30px;
    left: 20px;
  }
  .la-pelcula-de {
    width: 90%;
    font-size: 16px;
  }
  .logo-icon {
    width: 200px;
  }
}

@media (max-width: 560px) {
  .hero {
    height: 400px;
  }
  .la-pelcula-de {
    font-size: 14px;
  }
  .logo-icon {
    width: 150px;
  }
}










.carousel-section {
  padding: 40px 5%;
}

.carousel-category {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.carousel-container {
  width: 100%;
}

/* Card individual */
.carousel-item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  height: 300px;
  width: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagem dentro do card */
.carousel-image {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.4s ease;
  position: absolute;
}

/* Efeito hover */
.carousel-item:hover {
  transform: scale(1.1);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

/* Botões de navegação */
:host ::ng-deep .p-carousel-prev,
:host ::ng-deep .p-carousel-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none !important;
  border: none !important;
  color: #fff !important;
  font-size: 2.5rem !important;
  font-weight: 900 !important;
  outline: none !important;
  box-shadow: none !important;
  transition: all 0.3s ease;
}

/* Hover dos botões */
:host ::ng-deep .p-carousel-prev:hover,
:host ::ng-deep .p-carousel-next:hover {
  color: #ffe100 !important;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 1024px) {
  .carousel-item {
    width: 160px;
    height: 240px;
  }
}

@media (max-width: 768px) {
  .carousel-item {
    height: 160px;
  }
}

@media (max-width: 560px) {
  .carousel-item {
    height: 140px;
  }
}
